html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.jw-tab-focus:focus {
    outline: 0;
}

.jwplayer {
    width: 100% !important;
    height: 100% !important;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    position: fixed;
}

/*display title*/
.jw-title { 
	display: block;
}
.jw-flag-user-inactive.jw-state-playing .jw-title, .jw-flag-user-inactive.jw-state-buffering .jw-title {
	display: none;
}

/*display next and prev buttons*/
.jw-icon-next, .jw-icon-prev {
	display: inline !important;
    margin-left: .2em;
    margin-right: .2em;
}

/*display play icon while paused*/
.jw-display-icon-container.jw-background-color.jw-reset {
	display: table;
}
.jwplayer.jw-state-paused .jw-icon-display:before {
	content: "\e60e";
	font-family: 'jw-icons';
	padding-left: 5px;
    opacity: .9;
}
.jwplayer.jw-state-playing .jw-display-icon-container {
	display: none;
}

.jw-skin-seven .jw-display-icon-container {
	padding: 0 0;
	opacity: .83;
}
